body {
  background: white;
}

/* .content.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
} */

.main.content {
  margin: 0 auto;
  max-width: 80ch;
}

.contents.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contents.menu > a {
  text-decoration: none;
  color: var(--main_colour);
  margin: 0 auto;
}

.contents.menu > a:hover {
  color: black;
  text-decoration: none;
}

.page.title {
  color: var(--main_colour);
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.main.content h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.main.content h4 {
  font-size: 1.75rem;
  margin-bottom: 0;
}
.main.content h5 {
  font-size: 1.75rem;
  margin-bottom: 0;
  color: var(--main_colour);
}
.dates {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  color: #000 !important;
}

.main.content p,
.main.content li {
  font-size: 1.5rem;
  color: #888;
}

.role.content {
  display: flex;
  flex-direction: row;
}

.panel {
  margin: 0 5% 0 0;
  width: 50%;
}

em {
  color: black;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.results li,
.education li {
  padding-bottom: 1rem;
}

.timetable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timetable h4 {
  text-align: center;
  color: var(--main_colour);
}
.juniors {
  text-align: left;
}
.seniors {
  text-align: right;
}
.map {
  border: 0.15rem solid black !important;
}
.carlingford.map {
  margin-bottom: 4rem;
}
form label {
  margin: 1rem;
  color: black;
}
form input,
form textarea {
  width: 100%;
  color: #444;
  border: 2px solid #888;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
}

form input:active,
form input:focus {
  border: 2px solid var(--main_colour) !important;
}

.control.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border-radius: 10px;
  border: none;
  border: 0.2rem solid var(--main_colour);
  padding: 1rem 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--main_colour);
  font-weight: 400;
  transition: transform 0.1s;
}

button:hover,
button:focus {
  background: var(--main_colour);
  color: white;
}

button:active {
  transform: translateY(0.2rem);
}

#phoneNumber,
#emailAddress,
a {
  text-decoration: none;
  color: var(--main_colour);
}
#phoneNumber:hover,
#emailAddress:hover,
a:hover {
  color: #000;
}

#error {
  color: var(--main_colour);
}

.image.container {
  width: 100%;
  height: 600px;
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bannerPhoto {
  position: absolute;
  width: min(200%, 50vw);
  height: 600px;
  object-fit: cover;
  object-position: 0 50%;
  /* object-position: center; */
  box-shadow: 3px 3px 8px 2px #888;
}

.teachers h4 {
  /* width: 100%; */
  text-align: center;
  margin-bottom: 2rem !important;
}
.teacher.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.photo.placeholder {
  width: 25rem;
  height: 600px;
}

.teachers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -10%;
}

.grid.container {
  margin: 0 -25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#teacherGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 100%;
  gap: 0.5rem;
}

.teacher.image.container {
  position: relative;
}

.teacher.image.container p {
  width: 100%;
  text-align: center;
}

.teacher.name {
  position: absolute;
  z-index: 1;
  color: #000;
  bottom: -4rem;
  left: 0;
}
.teacher.grade {
  position: absolute;
  z-index: 1;
  color: #000;
  bottom: -6rem;
  left: 0;
}

.top.button {
  opacity: 0.5;
  text-align: left;
  font-size: 1rem !important;
  margin: -0.5rem 0 0 0.25rem;
}
.top.button a {
  color: #000;
}
.top.button:hover {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .page.title {
    margin: 0.6rem;
  }

  .control.buttons {
    flex-direction: column;
  }
  .control.buttons button {
    width: 100%;
    margin-top: 1rem;
  }
  #bannerPhoto,
  .image.container {
    width: 100vw;
    margin: 0;
    height: 300px;
    /* overflow: hidden; */
  }
  #bannerPhoto {
    top: 0;
    object-position: center;
    position: absolute;
    left: -10%;
  }

  form button {
    margin: 0 -1rem !important;
    width: calc(100% + 2rem);
    text-align: center;
  }
  form input,
  form textarea {
    width: 100%;
    margin-left: -1rem;
  }
  .timetable {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timetable * {
    width: 100%;
    text-align: left !important;
    margin: 0.5rem auto;
  }
  .contents.menu {
    flex-direction: column;
  }
  .contents.menu > a {
    margin-top: 1rem;
  }
}
