html {
  scroll-behavior: smooth;
  scroll-padding-top: 17rem;
}
body {
  margin: 0px;
  width: 100%;
  font-family: "Jost", sans-serif;
  --footer_height: 5vh;
  --header_height: 5vh;
  --background_colour: white;
  --main_colour: rgb(170, 0, 0);
  /* --main_colour: #0a9; */
  overflow-y: auto;
}

main {
  width: 65%;
  margin: 0 auto 2rem auto;
  min-height: 70vh;
  margin-top: 5rem;
  /* margin-bottom: calc(-1 * var(--footer_height)); */
}

@media only screen and (max-width: 700px) {
  main {
    width: 80% !important;
    margin-top: 2rem;
  }
  a {
    font-size: 1.6rem;
    text-align: center;
  }
  html {
    scroll-padding-top: 2rem;
  }
}
